<style>
    body {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        background-color: #F5F5F5;
        color: #333;
    }

    .container {
        background-color: #FFF;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: 900px;
        height: 500px;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0;
        border-radius: 8px;
        pointer-events: none;
    }

    .disabled {
        background: darkgray;
    }

    .won {
        background: green;
    }

    .point {
        border: 4px solid #00ff00;
    }

    .partialpoint {
        border: 4px solid #ffff00;
    }

    .panel-heading {
        background-color: #041E42;
        color: #FFF;
        font-weight: bold;
    }

    .table {
        border-collapse: separate;
        border-spacing: 0 10px;
    }

    .table tr:first-child td {
        border-top: none;
    }

    .table td {
        border-top: 4px solid #041E42;
        padding: 10px;
    }

    .table-striped>tbody>tr:nth-of-type(odd)>td {
        background-color: #FFF;
    }
    .header {
        background-color: #041E42;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    .header a {
        display: inline-block;
    }

    .header img {
        height: 40px;
        width: auto;
    }
</style>
