

p{
font-family: 'Roboto Slab', serif;
font-size: 30px;

}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
}

.text-label {
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
    /*font-family: sans-serif;*/
}

.dot {
    stroke: #293b47;
    fill: #7A99AC
}

.tooltip {
  position: absolute;
  width: 300px;
  height: 28px;
  pointer-events: none;
}

.bars rect {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.axis .domain {
  display: none;
}
